################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EODService/bin/Debug/net10.0
/EODService/obj/Debug/net10.0
